body {
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header {
  width: 100%;
  text-align: center;
  background-color: #ac92ec;
  color: #fff;
  padding: 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.search {
  display: flex;
  width: 100%;
}
.search-form {
  flex-basis: 50%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;
}
.btn-group {
  flex-basis: 22%;
  width: 100%;
  text-align: center;
}

.search__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px 8px;
}
.form__submit {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  outline: none;
  padding: 12px 18px;
  font-size: 14px;
  color: #fff;
  background-color: #3bafda;
  border-radius: 0 48px 48px 0;
  cursor: pointer;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.content-table {
  flex-basis: 72%;
  overflow-y: scroll;
}
.content-user {
  flex-basis: 25%;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
th {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
tbody tr td {
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;
  color: #d770ad;
  text-align: center;
}
tbody tr td:nth-child(5) {
  color: #aab2bd;
  text-transform: capitalize;
  cursor: pointer;
}
tbody tr td:nth-child(1) {
  color: #000;
  font-weight: 600;
}
tbody tr td:nth-child(6) {
  color: #da4453;
  text-transform: capitalize;
  cursor: pointer;
}
.content-user {
  width: 100%;
}
.form {
  border: 1px solid #ccc;
  padding: 50px 20px;
}
.form h3 {
  text-align: center;
  color: #8cc152;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 50px;
}
.form__input {
  width: 100%;
  display: block;
  padding: 8px 10px;
  margin-bottom: 15px;
  border-color: #ccc;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  outline: none;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 12px 34px;
  background-color: rgb(140, 193, 82);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.btn--secondary {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  min-width: 115px;
}
.btn--secondary {
  margin-left: 10px;
}
.btn--close {
  background-color: #aab2bd;
}
.content-100 {
  flex-basis: 100%;
}
.popup-edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.popup-edit__content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 100px 50px;
  box-sizing: border-box;
}
.popup-edit__input {
  flex-basis: 27%;
  outline: none;
  padding: 0 15px;
  box-sizing: border-box;
}
.btn-icon + .btn-icon {
  margin-left: 15px;
}
@media only screen and (max-width: 46.1875em) {
  .content,
  .search {
    flex-direction: column;
  }
  .btn-group {
    margin-bottom: 10px;
  }
  .content-user {
    order: 1;
  }
  .content-table {
    order: 2;
  }
  .form {
    padding: 20px;
  }
  .header {
    padding: 8px;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .form h3 {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 46.1875em) and (max-width: 77.25em) {
  .search-form {
    flex-basis: 45%;
  }
  .btn-group {
    flex-basis: 45%;
  }
  .header {
    padding: 8px;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .form {
    padding: 20px;
  }
  .form h3 {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
